* {
    border: none;
    border-radius: 0;
    font-family: 'Liberation Sans';
    /* font-family: 'Linux Biolinum'; */
    /* font-family: 'Linux Libertine'; */
    /* font-family: 'Anonymous Pro'; */
    /* font-family: 'Font Awesome 5 Free'; */
    /* font-family: 'Source Code Pro'; */
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: #333333;
    border-bottom: 1px solid #555555;
    /* background: rgba(0, 48, 59, 0.5); */
    /* border-bottom: 3px solid rgba(40, 114, 125, 0.5); */
    color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#workspaces button.visible {
    background: #64727D;
}

#idle_inhibitor, #pulseaudio, #disk, #network, #mode, #clock, #battery {
    padding: 0 6px;
    margin: 0 0px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    background-color: rgba(255, 255, 255, 0.1);
}

/* #battery { */
/*     background-color: #ffffff; */
/*     color: black; */
/* } */

/* #battery.charging { */
/*     color: white; */
/*     background-color: #26A65B; */
/* } */

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

